.floating {
    background-color:rgba(0, 0, 0, 0.5);
}

#top {
    display:flex;
    justify-content:space-between;
    align-items:center;

    height:60px;
    width:60%;
}

#top-buttons {
    display:flex;

    margin-right:10%;
}

#about-me {
    display:flex;
    justify-content:space-between;

    margin-top:10px;

    width:60%;
}

#music {
    display:flex;
    justify-content:space-between;

    margin-top:10px;

    width:60%;
}

#projects {
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    margin-top:10px;

    width:60%;
}

#upcoming {
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:10px;

    width:60%;
}

#music-list {
    display:flex;
    flex-direction:column;

    width:80%;
}

.music-entry {
    display:flex;
    justify-content:space-between;

    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding:5%;
    margin-bottom:3%;

    width:90%;
}

.album-images {
    display:flex;
    flex-direction:column;

    margin-right:10%;
}